footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  

  background-color: #0c120c;
  color: #ffffff;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 0.3rem;

    p {
      margin: 0.2rem;
    }
  }
}
